@model BusinessLayer.Models.BConsDate
@{
    ViewData["Title"] = "AddConsDate";
}

<h1>AddConsDate</h1>

@ViewData["username"]
<br />
@ViewData["bfid"]

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddConsDate" asp-route-username="@ViewData["username"]" asp-route-bfid="@ViewData["bfid"]" asp-route-bConsDate = "@Model">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConsDate" class="control-label"></label>
                <input asp-for="ConsDate" class="form-control" />
                <span asp-validation-for="ConsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>